<md-toolbar color="primary">
  Muse EEG Explorer
  <span class="header-fill"></span>
  <span [hidden]="!(batteryLevel|async)" class="battery-level-indicator">
    <md-icon>battery_std</md-icon>{{batteryLevel|async|number:"1.0-0"}}%
  </span>
  <md-icon *ngIf="connected" (click)="disconnect()" title="Disconnect">bluetooth_connected</md-icon>
</md-toolbar>
<section>
  <md-card *ngIf="!connected">
    <button *ngIf="!connecting" md-raised-button color="primary" (click)="connect()">
      <md-icon>bluetooth</md-icon>
      Connect
    </button>
    <div *ngIf="connecting">
      Connecting...
      <md-progress-bar mode="indeterminate"></md-progress-bar>
    </div>
  </md-card>
  <md-card *ngIf="data">
    <md-card-title>Live EEG Plot</md-card-title>
    <md-card-content>
      <time-series [data]="data"></time-series>
    </md-card-content>
  </md-card>
</section>
